# PostgreSQL
POSTGRES_USER=abc123
POSTGRES_PASSWORD=change_me

# MongoDB
MONGO_ROOT_USERNAME=abc123
MONGO_ROOT_PASSWORD=change_me

# Redis
REDIS_PORT=6767

# Kafka
KAFKA_PORT=1122
KAFKA_BROKERS=localhost:3618

# Mock Payment Provider
PAYMENT_PROVIDER_PORT=1111