# PostgreSQL
POSTGRES_USER=<postgres_username>
POSTGRES_PASSWORD=<postgres_password>

# MongoDB
MONGO_ROOT_USERNAME=<mongodb_username>
MONGO_ROOT_PASSWORD=<mongodb_password>

# Redis
REDIS_PORT=<redis_port>

# Kafka
KAFKA_PORT=<kafka_port>
KAFKA_BROKERS=<kafka_host>:<kafka_port>

# Mock Payment Provider
PAYMENT_PROVIDER_PORT=<mock_payment_provider_port>

# Auth
JWT_SECRET=<jwt_secret>
NODE_ENV=development

# API Gateway health checks and Booking driver response timeout
HEALTH_CHECK_TIMEOUT_MS=2000
DRIVER_RESPONSE_TIMEOUT_MS=300000
PAYMENT_WEBHOOK_SECRET=<payment_webhook_secret>
