openapi: 3.0.3
info:
  title: CABSystem API
  version: 1.0.0
  description: |
    API đặt xe trực tuyến của công ty ABC.
    Vai trò (x-roles): CUSTOMER, DRIVER, ADMIN.
    Trạng thái Booking: PENDING_DRIVER -> SENT_TO_DRIVER -> ACCEPTED; CANCELLED; NO_DRIVER_FOUND (giả định, cần stakeholder xác nhận).
    Trạng thái Trip: CREATED -> IN_PROGRESS -> COMPLETED.
    Trạng thái Payment: PENDING -> PROCESSING -> SUCCESS | FAILED.
servers:
  - url: https://api.abc.com/api/v1
tags:
  - { name: Auth, description: FR-01..03 }
  - { name: Booking, description: FR-04..07 }
  - { name: DriverMatching, description: FR-08..12 }
  - { name: Trip, description: FR-13..17 }
  - { name: Vehicle, description: FR-18..19 }
  - { name: Payment, description: FR-20..23 }
  - { name: Rating, description: FR-24..25 }
  - { name: Admin, description: FR-26..28 }
  - { name: Webhook, description: FR-22 }
security:
  - bearerAuth: []
paths:
  /auth/register: { $ref: './paths/auth.yaml#/register' }
  /auth/login: { $ref: './paths/auth.yaml#/login' }
  /users/me: { $ref: './paths/auth.yaml#/me' }
  /bookings: { $ref: './paths/bookings.yaml#/bookings' }
  /bookings/{bookingId}: { $ref: './paths/bookings.yaml#/bookingById' }
  /bookings/{bookingId}/cancel: { $ref: './paths/bookings.yaml#/cancel' }
  /drivers/me/status: { $ref: './paths/driver-matching.yaml#/status' }
  /drivers/me/booking-offers: { $ref: './paths/driver-matching.yaml#/offers' }
  /booking-offers/{offerId}/accept: { $ref: './paths/driver-matching.yaml#/accept' }
  /booking-offers/{offerId}/reject: { $ref: './paths/driver-matching.yaml#/reject' }
  /trips: { $ref: './paths/trips.yaml#/trips' }
  /trips/{tripId}: { $ref: './paths/trips.yaml#/tripById' }
  /trips/{tripId}/status: { $ref: './paths/trips.yaml#/status' }
  /trips/{tripId}/complete: { $ref: './paths/trips.yaml#/complete' }
  /drivers/me/vehicles: { $ref: './paths/vehicles.yaml#/myVehicles' }
  /drivers/me/vehicles/{vehicleId}: { $ref: './paths/vehicles.yaml#/myVehicleById' }
  /trips/{tripId}/payment: { $ref: './paths/payments.yaml#/tripPayment' }
  /payments/{paymentId}: { $ref: './paths/payments.yaml#/paymentById' }
  /payments/{paymentId}/pay: { $ref: './paths/payments.yaml#/pay' }
  /webhooks/payment: { $ref: './paths/payments.yaml#/webhook' }
  /trips/{tripId}/rating: { $ref: './paths/ratings.yaml#/rating' }
  /admin/customers: { $ref: './paths/admin.yaml#/customers' }
  /admin/customers/{customerId}: { $ref: './paths/admin.yaml#/customerById' }
  /admin/drivers: { $ref: './paths/admin.yaml#/drivers' }
  /admin/drivers/{driverId}: { $ref: './paths/admin.yaml#/driverById' }
  /admin/vehicles: { $ref: './paths/admin.yaml#/vehicles' }
  /admin/vehicles/{vehicleId}: { $ref: './paths/admin.yaml#/vehicleById' }
  /admin/bookings: { $ref: './paths/admin.yaml#/bookings' }
  /admin/trips: { $ref: './paths/admin.yaml#/trips' }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
    webhookSignature: { type: apiKey, in: header, name: X-Signature }
